<div class="footer">

    <div>
        FUTURE SHOP
    </div>

    <div>
        <ul>
            <li>Links</li>

            <li>Story</li>
            <li>Contact</li>
            <li>track Order</li>
            <li>Help</li>
        
        </ul>
    </div>

    <div>
        <ul>
            <li>Categories</li>

            <li>Story</li>
            <li>Contact</li>
            <li>track Order</li>
            <li>Help</li>
        
        </ul>
    </div>

    <div>
        <ul>
        <li>Subscribe</li>
        <li> <input type="text"></li>
        <li>  <button>SUBSCRIBE</button></li>
        </ul>
        
    </div>

</div>
