<div class="footer">

    <div class="logo">
        FUTURE <br>SHOP
    </div>

    <div>
        <ul>
            <li class="mailcolum">Links</li>
            <div class="colums">
                <li class="gapcolum">Story</li>
                <li class="gapcolum">Contact</li>
                <li class="gapcolum">track Order</li>
                <li class="gapcolum">Help</li>
            </div>

        </ul>
    </div>

    <div>
        <ul>
            <li class="mailcolum">Categories</li>
            <li class="gapcolum">Story</li>
            <li class="gapcolum">Contact</li>
            <li class="gapcolum">track Order</li>
            <li class="gapcolum">Help</li>
        
        </ul>
    </div>

    <div>
        <ul>
        <li class="mailcolum">Subscribe</li>
        <li> <input type="text" class="inputfeild" placeholder="Enter Email Here"></li>
        <div style="padding: 10px;">
        <li>  <button class="btn">SUBSCRIBE</button></li>
        </div>
        </ul>
        
    </div>

</div>
<hr>
<div class="footer">
    <div>
        Copyright 2024 FUTURE SHOP
    </div>
    <div>
        <img src="../../../../public/Images/Icons/icons8-facebook-50.png" alt="" >
        <img src="../../../../public/Images/Icons/icons8-instagram-48.png" alt="" >
        <img src="../../../../public/Images/Icons/icons8-youtube-50.png" alt="" >
    </div>
</div>
